.DetailsContainer{
    background-color: white;
    width: 50%;
    margin: auto;
    padding:30px;
    margin-top:20px;
    border-radius: 10px;
    .ticketname{
     span{
            font-style:italic;
        }
    }
    h3{
        margin-left: 20px;
        span{
            margin-right: 10px;
        }
    }
}