.banner{
    height: 500px;
    position: relative;
    background-color: #e84393;
    background-image: linear-gradient(315deg, #b1a1a8 0%, #000000 74%);
    .cancel{
        height: 30px;
      float: left;
      position: absolute;
      left: 20px;
      top: 10px;
      border-radius: 20px;
      font-size: 10px;
      background-color: red;
      color: white;
      outline: none;
      cursor: pointer;
    }
    .bannerItem{
        height: 100%;
        display: flex;
        flex-direction: row;
        padding:30px;
        padding-left: 10%;
     
        
        img{
            height: 85%;
            border-radius: 10px;
        }
        >div{
            margin-left: 40px;
            text-align: left;
            .bannerName{
                font-size: 40px;
                font-weight: bold;
                color: white;
                font-family:sans-serif;
            }
            .genre{
                
                color:white;
                font-style: italic;
                margin-left: 4px;
            }
            button{
                height:45px;
                width: 200px;
                border-radius: 10px;
                outline: none;
                color: white;
                font-size: 16px;
                background-color:rgb(230, 45, 45) ;
                cursor: pointer;
            }
          
        }
    }
}